<template>
  <div class="level">
      <p class="level-name">{{ level.name }}</p>
      <div class="spot-container">
        <spot v-for="spot in spots"
              :key="spot.id"
              :item="spot"
              class='spots-box'>
        </spot>
      </div>
  </div>
</template>

<script lang="babel">

import { mapState } from 'vuex';
import Spot from './Spot';

export default {
  components: {
    Spot,
  },
  computed: mapState({
    level: state => state.currentLevel,
    spots: state => (state.currentLevel ? state.currentLevel.spots.data : []),
  }),
};
</script>

<style scoped>
  .spot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .spots-box {
    margin-left: 20px;
  }

  .level {
    margin-top: 30px;
  }

  .level-name {
    text-align: left;
    padding-left: 50px;
    font-weight: 700;
    font-size: 16px;
    color: #115062;
  }
</style>
