<template>
  <el-container>
    <el-container>
      <!-- header -->
      <el-header>
        <h1 class="title">Jimmy's Parking Lot</h1>
      </el-header>

      <ParkingContainer></ParkingContainer>
    </el-container>
  </el-container>
</template>

<script>

import ParkingContainer from './ParkingContainer';

export default {
  name: 'HelloWorld',
  components: {
    ParkingContainer,
  },
  data() {
    return {
      loading: false,
    };
  },
};
</script>

<style>

  body {
    margin: 0;
  }

  .el-header, .el-footer {
    color: #333;
    line-height: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .el-header {
    background-color: #2563aa70; /* #aad5b8 */
    text-align: center;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.01), 0 4px 5px rgba(0,0,0,0.01),
     0 1px 10px rgba(0,0,0,0.12);
    left: 0;
    top: 0;
  }

  .el-header h1 {
    margin-top: 0px;
  }

  .el-footer {
    position: relative;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .el-aside {
    border-right: solid 1px #D3DCE6;
    color: #333;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /*#aad5b8*/
  .el-main {
    color: #333;
    text-align: center;
    min-height: 100%;
    padding: 0px !important;
    height: 100%;
  }

  .el-container {
    margin-bottom: 40px;
    height: 100%;
  }
</style>
