<template>
  <!-- Main Content -->
  <el-main v-loading="loading">
    <el-row class="tac">
      <el-col :span="4">
        <Sidebar></Sidebar>
      </el-col>
      <el-col :span="20">
        <Level></Level>
      </el-col>
    </el-row>
  </el-main>
</template>

<script lang="babel">

import parkingService from './../services/parking';
import { mapState } from 'vuex';

import Level from './Level';
import Sidebar from './Sidebar';

export default {
  components: {
    Level,
    Sidebar,
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: mapState({
    parking: state => state.parking,
    levels: state => state.levels,
  }),
  methods: {
    fetchParking() {
      parkingService.get().then((parking) => {
        this.$store.commit('setParking', { parking });
        this.loading = false;
      }, () => {
        this.loading = false;
      });
    },
  },
  mounted() {
    this.loading = true;
    setTimeout(() => this.fetchParking(), 100);
  },
};
</script>

<style >

  el-main {
    padding: 0px;
  }

  .el-row {
    height: 100% !important;
  }
  .el-col {
    height: 100% !important;
  }
</style>
