<template>
  <div class="fullheight">
    <el-menu
      default-active="1"
      class="el-menu-vertical-demo"
    >
      <el-menu-item
          v-for="level in levels"
          :key="level.id"
          :index="level.number.toString()"
          @click="setLevel(level.id)"
        >
        <i class="el-icon-location"></i>
        <span>{{ level.name }}</span>
      </el-menu-item>

      <el-button
        type="default"
        icon="el-icon-circle-check"
        class="margin-top-50"
        @click="showAddModal"
      >
        Check availability
      </el-button>

    </el-menu>

    <!-- Form -->
    <el-dialog title="First spot available" :visible.sync="addVehicleVisible">
        <el-form :model="newVehicle" label-width="120px">
          <el-form-item label="Vehicle brand">
            <el-input v-model="newVehicle.brand" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="Size" >
            <el-input-number v-model="newVehicle.size" :min="1" :max="100"></el-input-number>
          </el-form-item>
          <el-form-item label="Price" >
            <el-input-number v-model="newVehicle.price" :min="1" :max="500"></el-input-number>
          </el-form-item>
        </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVehicleVisible = false">Cancel</el-button>
        <el-button type="primary" v-loading="loading" @click="addVehicle">Check</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang="babel">

import { mapState } from 'vuex';
import parking from './../services/parking';

export default {
  data() {
    return {
      addVehicleVisible: false,
      newVehicle: {
        brand: '',
        size: '',
        price: '',
      },
      formLabelWidth: '4',
      loading: false,
    };
  },
  computed: mapState({
    levels: state => state.levels,
  }),
  methods: {
    setLevel(id) {
      setTimeout(() => this.$store.commit('setCurrentLevel', { id }), 100);
    },
    showAddModal() {
      this.addVehicleVisible = true;
    },
    addVehicle() {
      this.loading = true;
      parking.findSpot(this.newVehicle).then((response) => {
        this.loading = false;
        this.addVehicleVisible = false;
        this.notify(response);
      }, () => {
        this.loading = false;
        this.addVehicleVisible = false;
        this.notify(false);
      });
    },
    notify(response) {
      if (response) {
        this.$notify({
          title: 'Vehicle Parked!',
          message: `Level ${response.level.number}, spot ${response.position}`,
          type: 'success',
        });
        this.$store.commit('setSpotUnavailable', { spot: response });
      } else {
        this.$notify({
          title: 'No space available',
          message: ` No spot available for ${this.newVehicle.brand} size ${this.newVehicle.size}`,
          type: 'error',
        });
      }
    },
  },
};
</script>

<style>
  .el-menu {
    background-color: transparent;
    height: 100%;
  }

  .el-menu-item.is-active {
    background-color: #aaccd638;
    color: #115062;
    font-weight: 800;
  }

  .el-menu-item {
    font-weight: 400 !important;
  }

  .el-form-item__content {
    text-align: left;
  }

  .el-notification {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  }
</style>
