<template>
  <el-card class="box-card">
    <div class="text item">
      <div class="big-text"><strong>Spot: {{ item.position }}</strong></div>
      <div class="margin-top-20">Size: <strong>{{ item.size }}</strong></div>
      <el-tag :type="tagType" class="margin-top-50">{{ tagText }}</el-tag>
    </div>
  </el-card>
</template>

<script lang="babel">
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    tagType() {
      return this.item.available ? 'success' : 'info';
    },
    tagText() {
      return this.item.available ? 'available' : 'n/a';
    },
  },
};
</script>

<style >
  .text {
    font-size: 14px;
    text-align: center;
  }

  .big-text {
    font-size: 16px;
  }

  .item {
    padding: 18px 0;
  }

  .box-card {
    width: 150px;
    height: 200px;
  }

  .el-card {
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    color: #303133;
  }

</style>
