<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>

html, body {
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

/* helpers */
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 20px;
}
.margin-top-50 {
  margin-top: 50px;
}

.fullheight {
  height: 100%
}

</style>
